<swiper class="mySwiper"
    [slidesPerView]="1"
    [spaceBetween]="50"
    [initialSlide]="4"
    [pagination]="{
      clickable: true
    }"
>
  <ng-template
    *ngFor="let round of rounds"
    swiperSlide
  >
    <h1 class="title">Georgian Beasts <span class="outline">PASS ROYALE</span> Championship</h1>
    <div class="tournament-title" *ngIf="currentPage === 'Schedule' ">{{ round.roundTitle }}</div>
    <div class="navigation">
      <div 
        class="home"
       (click)="currentPage='Schedule'"
       [ngClass]="{'navigation-btn' : currentPage === 'Schedule'}"
       >განრიგი</div>
      <div
        class="rule"
        (click)="currentPage='Rules'"
        [ngClass]="{'navigation-btn' : currentPage === 'Rules'}"
        >წესები</div>
    </div>
    <div *ngIf="loading"><img  style="width: 25px" src="https://icon-library.com/images/loading-icon-transparent-background/loading-icon-transparent-background-12.jpg"></div>
    <ul class="tournament" *ngIf="currentPage === 'Schedule'">
        <li class="tournament-item" *ngFor="let game of round.games">
            <div  [ngClass]="{ 'winner winner-left': game.winner === 'playerOne' }">{{ game.playerOne }} <img *ngIf="game.winner === 'playerOne'" src="../../assets/cup.svg"> </div>
            <ng-template #placeholder><div></div></ng-template>
            <div class="outline" 
              *ngIf="game.date; else placeholder"
            >{{ game.date | date: 'short' }}</div>
            <div  [ngClass]="{ 'winner winner-right': game.winner === 'playerTwo' }">{{ game.playerTwo }} <img *ngIf="game.winner === 'playerTwo'" src="../../assets/cup.svg"> </div>
        </li>
    </ul>
    <ul *ngIf="currentPage === 'Rules' " class="rules">
        <li class="rules-item">ჩემპიონატის დაწყებამდე აუცილებლად უნდა გამოცხადდეთ მითითებულ დრომდე 15 წუთით ადრე (checkin)</li>
        <li class="rules-item">ჩემპიონატში ითამაშებთ 3 თამაშს 1ვ1 თქვენი დეკებით, გამარჯვებული გადავა შემდეგ ეტაპზე</li>
        <li class="rules-item">კარგად გადაამოწმეთ განრიგი. წარმატებები</li>
    </ul>
  </ng-template>
</swiper>
<div id="confetti-wrapper">
</div>