.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/royale.jpg');
    background-size: cover;
    background-position: center;
}

.title {
    color: #fff;
    font-size: 12px;
    text-align: center;
}